body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Cuprum, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

/* хедер*/
.background-menu {
	background-color: #293449;
}

.main-header {
    background-color: #f3f7f8;
}

.background-menu-authorization {
    background-color: #f3f7f8;
}

/*убираем подчеркивание с ссылок*/
a {
  text-decoration: none;
}

.navigation-main-header {
  font-family: Cuprum, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
}

.navigation-main-footer {
  font-family: Cuprum, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;	
}

/*убираем маркеры у списка там, где нет маркеров на макете*/

.user-navigation,
.main-menu-header,
.main-menu-footer,
.social-footer-list,
.menu-footer,
.breadcrumbs,
.manufacturer-nutrition-item,
.catalog-list {
  list-style: none;
  }

.main-menu-header {
 	background-color:#32425c;
}
/* цвета ссылок в меню*/
.main-menu-header a,
.main-menu-footer a{
   color: #ffffff;
}
	/*поведение ссылок навигации хедера*/
	.main-menu-header a:hover,
	.main-menu-header a:focus {
		background-color: #293449;
	}

	.main-menu-header a:active {
		background-color: #1d2739;
		opacity: 0.5
	}


/*цвет верхей части футера*/
.above-footer {
	background-color: #32425c;
}

/*цвет ссылок в ненавигационном меню футера*/
.menu-footer a {
	color: #ffd180;
}

.main-logo:hover {
	background-color: #ca2c37;
}

.main-logo:focus {
	background-color: #ba2732;
}

.order-header:hover {
	background-color: #55bb2d;
}

.order-header:focus {
	background-color: #518534;
}

.bookmarks-header:focus,
.bascet-header:focus {
	background-color: #161d29;
}

.bookmarks-header:hover,
.bascet-header:hover {
	background-color: #212a3a;
}

.main-logo {
	font-family: Cuprum, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}

.search-input-field {
	background-color: #293449;
}
	.search-input-field::placeholder {
		color: #ffffff;
    }
    .search-input-field:hover {
    	background-color: #212a3a;
    }
    .search-input-field:focus {
    	background-color: #ffffff;
    }
	

.bookmarks-header {
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.bascet-header {
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.order-header {
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	background-color:#63a65c;
}

.headline {
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #fc496f;
}

.number-header {
	font-family: Cuprum, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
}

.address-header {
    font-family: Cuprum, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login {
	font-family: Cuprum, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}
	.login:hover {
		color:#ee3643;
	}
	.login:active{
		color:#000000;
		opacity: 0.3
	}

.registration {
	font-family: Cuprum, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}
	.registration:hover{
		color:#ee3643;
	}
	.registration:active{
		color:#000000;
		opacity: 0.3
	}

.user-name {
	font-family: Cuprum, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}
	.user-name:hover {
		color: #000000;
	}
	.user-name:active {
		opacity: 0.3;
	}

.login:hover 
.registration:hover {
    font-size: 21px;
}



.user-orders {
	font-family: Cuprum, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-profile {
	font-family: Cuprum, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-orders:hover,
.user-profile:hover {
text-decoration: underline;
color: #ee3643; ;
}

.user-orders:active,
.user-profile:active {
	color: #32425c;
	text-decoration: none;
	opacity: 0.3;
}

.breadcrumbs {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.name-catalog {
	font-family: Cuprum, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.filter-name legend {
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.item {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.button-filter {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

.product-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.price-old {
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	color: #999999;
	text-decoration: line-through;
}

.price-now {
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
}

.buy {
	font-family: Cuprum, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
	text-transform: uppercase;
}
	.buy:hover {
		background-color: #5fbb2d;
	}
	.buy:active {
		background-color: #518534;
	}

.marks-favorites {
	font-family: Cuprum, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #32425c;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 3px solid #63a63e;
}
	.marks-favorites:hover {
	 	border: 3px solid #32425c;
	}
	.marks-favorites:active {
	 	border: 3px solid #32425c;
	 	opacity: 0.3;
	}

.company-info {
	font-family: Cuprum, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.company {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

.transport-companies {
	font-family: Cuprum, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

.button {
	font-family: Cuprum, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
}
	.button:hover,
	.button:focus {
		background-color: #ca2c37;
	}
	.button:active {
		background-color: #ba2732;
	}


/*футер*/
.main-menu-footer {
	font-family: Cuprum, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;	
}
	.main-menu-footer a:hover,
	.main-menu-footer a:focus {
		text-decoration: underline;
	}

	.main-menu-footer a:active {
	text-decoration: none;
	opacity: 0.5;
}

.menu-footer {
	font-family: Cuprum, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}
	.menu-footer a:hover,
	.menu-footer a:focus {
		text-decoration: underline;
	}
	.menu-footer a:active {
		text-decoration: none;
		opacity: 0.5;
	}

.footer-contacts {
	font-family: Cuprum, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
}

.menu-footer {
	font-family: Cuprum, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #ffd180;
}
.under-footer {
background-color: #293449;
}

.copyright-company {
	font-family: Cuprum, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
}

.social-btn {
	background-color: #212a3a;
}
	.social-btn:hover,
	.social-btn:focus
	.social-btn:active {
  background-color: #ee3643;
}

.feedback {
	font-family: Cuprum, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
}

.copyright-project {
	font-family: Cuprum, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
}

.project {
	color: #ffd180;
}
	.project:hover 
	.project:focus{
		text-decoration: underline;
	}
	.project:active{
		text-decoration: none;
		color: #ee3643;
	}

.email {
	color: #ffd180;
}
	.email:hover,
	.email:focus {
		text-decoration: underline;
	}
	.email:active {
		text-decoration: none;
		color: #ee3643;
	}

.support {
	display: none;
}

.modal-big-map {
	display: none;
}


.modal-basket {
	display: none;
}